.button {
    color: slategrey !important;
    
}

.head {
    margin: 20px;
    
}

.body {
    width: 50%

}

.tablebody {
    width: 80%;
}

.submit {
    margin: 20px;
    display: block;
    float: left;
}

.table {
    margin-top: -50px;
    width: 50%;
    float: right;
    

}
.step2 {
    margin-top: 100px
}