.button {
    color: slategrey !important;
}

.head {
    margin: 20px;
    float: left;
}

.submit {
    margin: 20px;
    display: block;
    float: left;
}

.table {
    width: 50%;
    float: right;
}